<p>
  change-password works!
</p>
<div >
  <form  #addInfo="ngForm" (ngSubmit)="editProfile()">
      UID: <input type="number" #UID="ngModel" name="UID" [(ngModel)]="model.UID"><br/>
      Change Phone Number: <input type="text" #PhoneNumber="ngModel" name="PhoneNumber" [(ngModel)]="model.PhoneNumber"><br/>
      Change Address: <input type="text" class="form-control"#Address="ngModel" name="Address" [(ngModel)]="model.Address" required/><br/>
                      <p *ngIf="Address.invalid && Address.touched">
                          <span *ngIf="Address.errors.required">Cannot Be Empty </span>
                      </p> 
      Change Email: <input type="text" class="form-control"#EmailId="ngModel" name="EmailId" [(ngModel)]="model.EmailId" required/><br/>
                  <p *ngIf="EmailId.invalid && EmailId.touched">
                      <span *ngIf="EmailId.errors.required">Cannot Be Empty </span>
                  </p>
      Change Password: <input type="password"#Password="ngModel" autocomplete="src src-detail" name="Password" [(ngModel)]="model.Password"/><br>
      <button type="submit" >Edit</button>
  </form>
</div>